<div [ngClass]="{'shade': true, 'shade--show': dialogBoxShow}" [style.display]="shadeShow"
    [style.backgroundColor]="shadeShowBgc" (click)="doClsByShadow()">
    <div [style]="dialogBoxShow?dialogShowStyle:dialogCloseStyle" [ngClass]="{'dialog-box': true}"
        (click)="$event.stopPropagation()">
        <!-- , 'dialog-box--show': dialogBoxShow -->
        <div class="header" *ngIf="showHead">
            <div class="header-left">
                <span> {{titleH}}</span>
            </div>
            <div class="header-right">
                <i class="iconfont icon-guanbi" (click)="closeDialog()"></i>
            </div>
        </div>
        <div class="body">
            <ng-container [ngTemplateOutlet]="bodyRef">

            </ng-container>
            <!-- <ng-content select="[name='body']">
            </ng-content> -->
        </div>
        <div class="footer">
            <div class="footer-but">
                <button nz-button nzType="primary" nzSize="small">确认</button>
                <button nz-button nzSize="small">取消</button>
            </div>
        </div>
    </div>
</div>
